/*---- POLICE ----*/



html{
 overflow-x: hidden;   
 scroll-behavior: smooth;
}

/*------ HEADER --------*/

header{
 background-color: rgb(127,176,254);
width: 100%;
}
.nav-item{
 margin: 1em;
    width: 8em;
}

nav .navbar-nav li a{
  color: white ;
  }

nav .navbar-nav li{
    
    font-size: 1.3em;
    text-align: center;
  }
.nav-link{
    border: solid rgb(127,176,254) 2px ;
    border-radius: 15px;
    
   
}
header button{
    background-color: rgb(127,176,254);
    border: none;
}
.nav-link:hover{
    
    animation-duration: 1s;
    animation-name: animationHeader;
    animation-fill-mode: forwards;
}
/*------ ACCEUIL -----------*/
.bienvenue h1{
 font-size: 6em;
}
.bienvenue h2{
 font-size: 3em;   
}
.bienvenue h3{
 font-size: 2em;   
}
.bienvenue h1,h2,h3{
    text-align: center;
}

.bienvenue #btn{
    margin: 3em; 
    padding: 1em;
    border-radius: 5px;
    background: linear-gradient(to left, rgb(108,70,200), rgb(108,176,255) );
    color: white;
}
.bienvenue #btn a{
    display: block;
 text-decoration: none;
 color: white;
    height: 100%;
    width: 100%;

}
.bienvenue #btn:hover{
       
    animation-duration: 1s;
    animation-name: animationButton;
    animation-fill-mode: forwards;
    }

.bienvenue #btn:hover a {
 text-decoration: none;
    text-shadow: 5px 5px 10px black;
}
.bienvenue #btn a:active{
    opacity: 0.5;
    text-decoration: underline;
}
/*------ QUI SUIS-JE ---------*/
section{
 margin-top: 4em;

}
section:nth-child(3) svg{
 margin-right: 1em;   
}
section>h1{
 margin-bottom: 2em;
    padding: 5px;
    border-bottom: rgb(127,176,254) solid 3px;
    text-align: center;
}
.quiSuisJe div:first-child{
    background:   linear-gradient(to left, rgb(108,70,200), rgb(108,176,255) );
    box-shadow: #000000  0 5px 10px;

}

.quiSuisJe div:first-child p{
 padding: 1.5em;
 font-size: 1.5em;

}

.quiSuisJe div:first-child p span{
    display: block;
 text-align: center;
    margin-top: 1em;
    color: white;
    font-weight: 500;
    text-shadow: 1px 1px 5px black;
}
.quiSuisJe div:first-child p span a:visited, .quiSuisJe div:first-child p span a:link {
    text-decoration: none;
    
    color: white;
    margin:1em;

    
    
}
.quiSuisJe div:first-child p span a:hover{
    color: black;
}

#LIGNE1,#LIGNE2,#LIGNE3,#LIGNE4,#LIGNE5,#LIGNE6,#LIGNE7,#LIGNE8,#LIGNE9,#LIGNE10,#LIGNE11{
    opacity: 0;
    animation-duration: 0.5s;
    animation-name: animSvg;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
    
}
#LIGNE1{
    animation-delay: 0.5s;
}
#LIGNE2{
    animation-delay: 1s;   
}
#LIGNE3{
    animation-delay: 1.5s;   
}
#LIGNE4{
    animation-delay: 2s;
}
#LIGNE5{
    animation-delay: 2.5s;   
}
#LIGNE6{
    animation-delay: 3s;   
}
#LIGNE7{
    animation-delay: 3.5s;
}
#LIGNE8{
    animation-delay: 4s;   
}
#LIGNE9{
    animation-delay: 4.5s;   
}
#LIGNE10{
    animation-delay: 5s;
}
#LIGNE11{
    animation-delay: 5.5s;   
}


/*------- MON PARCOURS -----*/
section:nth-child(4){
 margin-top: 6em;   
}
section:nth-child(4) svg{
 margin-left: 1em;   
}

.conteneur{
        
     background:   linear-gradient(to right, rgb(108,70,200), rgb(108,176,255) );
    box-shadow: #000000  0 5px 10px;
}
.timeline
{
    position: relative;
    top: 4em;
    width: 800px;
    height: auto;
    box-sizing: border-box;
}

.timeline .liTime
{
    position:relative;
    list-style: none;
    margin-top: 0px;
}
.content
{
    position: relative;
    min-height: 60px;
    padding: 0 20px 20px 30px;
    height: 200px;
    border-left-style: solid;
    border-left-color: black;
    border-left-width: 2px;
}
.content h3{
 color: white; 
 text-align: left;
text-shadow: 4px 4px 4px black;   
}

.content p{
 font-size: 1.5em;     
}
.timeline .liTime:last-child .content
{
    border-left: 2px solid transparent;
}
.span
{
    margin-top: 0px;
    position: absolute;
    top: -8px;
    left: -20px;  
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: black;
    border-radius: 50%;
    z-index: 10;
    font-size: 0.9em;
    font-weight: bold;
    color: rgb(108,176,255);
}

.liTime:hover .span
{
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(127,176,254);
    color: black;
    box-shadow: rgb(127,176,254) 0 0 30px;

}




/*-------- COMPETENCES ------------*/
section:nth-child(5){
 margin-top: 4em;   
}
.develo img,.crea img, .soft img, .logi img{
 position: relative;
}
.develo p,.crea p,.soft p, .logi p{
   font-weight: 500;
}
.crea h1{
    position: absolute;
    top: 25%;
    left: 25%;
      font-size: 2em;  
    color: white;
    text-shadow: 4px 4px 5px black;
}
.crea p{
      position: absolute;
    top: 40%;
    left: 25%;
    padding-right: 10em;  
}



.develo h1{
 position: absolute;
    top:25%;
    left: 25%;
    font-size: 2em;  
    color: white;
    text-shadow: 4px 4px 5px black;
}
.develo  p{
    position: absolute;
    top: 40%;
    left: 20%;
    padding-right: 10em;
}
.soft h1{
    position: absolute;
    top: 20%;
    left: 25%;
    font-size: 2em;  
    color: white;
    text-shadow: 4px 4px 5px black;
}
.soft p{
    position: absolute;
    top: 35%;
    left: 20%;
     padding-right: 9em;
}

.logi h1{
 position: absolute;
    top: 20%;
    left: 25%;
     font-size: 2em;  
    color: white;
    text-shadow: 4px 4px 5px black;
}

.logi p{
 position: absolute;
    top: 35%;
    left: 25%;
    padding-right: 9em;
}
/*---------- PROJET ------------*/
section:nth-child(6){
    margin-top: 4em;
   
}
section:nth-child(6) .row{
    margin-top: 2em;
     background-image: linear-gradient(to left, rgb(108,70,200), rgb(108,176,255) );
    padding: 2em;   
}
section:nth-child(6) .row div img{
 margin: 1em;
display: block;

}


/*----------- FOOTER ------------*/ 
footer{
    height: 100%;
}
footer div:first-child{
    height: 15em;
    margin-top: 2em;
    margin-bottom: 2em;
   background: linear-gradient(to left, rgb(108,70,200), rgb(108,176,255) ); 
}
footer div:last-child{
    height: 4em;
    margin-top: 2em;

}
footer div:first-child>p{
    text-align: center;

}
    

footer div:last-child p{
    color: black;
    font-weight: bold;
    padding-top: 1em;
}

/*--------------------------------------*/
@keyframes animSvg{
 from{
     opacity: 0;
     
 }to{
     opacity: 1;
 }  
}
@keyframes animationButton{
    from{
            background: linear-gradient(to left, rgb(108,70,200), rgb(108,176,255) );
    }to{
            background:rgb(108,176,255);
        
    }
}


@keyframes animationHeader{
 from{
     border-color: rgb(127,176,254);
     color: white;
    background-color: rgb(127,176,254);
 
 }
    to{
   
        color: rgb(127,176,254);
        background-color: white;
    }
}





@media screen and (max-width: 990px) {
    .nav-link:hover{
    animation: none;
}   
    nav .navbar-nav li{
        text-align: left;
    }  
    
    .develo p,.crea p,.soft p, .logi p{
        padding-right: 7em;
        font-size: 0.8em;
}
}


